@{
    ViewBag.Title = "PonudaVozila";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                
            <ul id="menu">
                <li>@Html.ActionLink("Početna", "Index", "Home")</li>
                <li>@Html.ActionLink("Ponuda vozila", "PonudaVozila", "Home")</li>
                <li>@Html.ActionLink("O nama", "About", "Home")</li>
                <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
            </ul>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<h2>PonudaVozila</h2>
